body {
	background: url("alien.jpg") no-repeat ;
	background-size: cover;
	margin: 0;
	border: 0;
}

header {
	width: 1350px;
	height: 50px;
	margin: 0;
}

.logo {
	float: left;
	padding-top: 30px;
	padding-left: 50px;
}

.menu {
	float: right;
	padding-top: 30px;
	padding-right: 50px;
}

.main-content {
	margin: 0;
}

.left-column {
	width: 600px;
	height: 500px;
	float: left;
	margin: 70px 0 0 70px;
	position: relative;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color: white;
	margin: 40px 0 0 60px;
}

h4 {
	font-family: 'Raleway', sans-serif;
	color: white;
	margin: 10px 0 0 100px;
	text-transform: uppercase;
}

p {
	font-family: 'Raleway', sans-serif;
	color: white;
	margin: 40px 0 0 60px;
	font-size: 18px;
}

.left-column a {
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: white;
	font-weight: lighter;
	border: 1px solid white;
	padding: 5px;
	margin: 30px 0 0 200px;
	position: absolute;
}

.right-column {
	width: 374px;
	height: 400px;
	float: right;
	margin: 70px 150px 0 150px;
	background-color: white;
}

h3 {
	width: 374px;
	height: 35px;
	margin: 0 0 10px 0;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	text-align: center;
	background-color: #2d112a;
	color: white;
	padding-top: 10px;
	font-size: 22px;
	font-weight: lighter;
}

.form-left-column {
	float: left;
	width: 178px;
	height: 50px;
	margin: 0;
	padding: 0;
}

.form-right-column {
	float: right;
	width: 174px;
	height: 48px;
	padding-bottom: 0;
}

.row {
	width: 374px;
	height: 42px;
	padding: 4px 0 4px 0;
}

.name-input, .right-input {
	width: 130px;
	height: 30px;
	padding: 3px 0 3px 10px;
	border-radius: 5px;
	margin-bottom: 0;
	border: 1px solid grey;
}

.name-input {
	margin-left: 30px;
}

.box-info {
	width: 300px;
	height: 30px;
	padding: 3px 0 3px 10px;
	border-radius: 5px;
	margin-left: 30px;
	border: 1px solid grey;
}

.birthdate {
	width: 180px;
	height: 30px;
	padding: 3px 0 3px 10px;
	border-radius: 5px;
	margin-bottom: 0;
	float: right;
	border: 1px solid grey;
}

label.left-input {
	width: 80px;
	height: 30px;
	font-size: 18px;
	padding: 8px 0 3px 32px;
	font-family: 'Raleway', sans-serif;
	float: left;
}

.form-info {
	float: right;
	width: 200px;
	height: 48px;
	padding-right: 32px;
}

.row-select {
	float: right;
    padding: 0;
    margin: 0;
    outline: none;
    color: black;
    background-color: white;
    width: 192px;
	height: 38px;
	border-radius: 5px;
	border-color: grey;
}  

.row input:focus, select:focus {
	border: 1px solid purple;
	outline: purple groove 2px;
}

label {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding: 0 0 0 30px;
	margin: 0;
}

label a {
	color: red;
	text-decoration: none;
}

button {
	width: 100px;
	height: 35px;
	background: #2D112A;
	color: white;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	border-radius: 5px;
	margin: 0 0 0 130px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* !important -> se sprascrie (folosit in cazuri exceptionale; de evitat) */